In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import re
import seaborn as sns
import matplotlib.pyplot as plt
from category_encoders import TargetEncoder
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, ConfusionMatrixDisplay

from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [16]:
taobao_df = pd.read_csv('taobao_encoded.csv')

In [17]:
taobao_df.head()

,price,clk,shopping_level_2,shopping_level_3,occupation_1,age_level_1,age_level_2,age_level_3,age_level_4,age_level_5,...,adgroup_id_encoded,cate_id_encoded,campaign_id_encoded,advertiser_id_encoded,brand_id_encoded,user_id_encoded,pid_encoded,cms_segid_encoded,cms_group_id_encoded,time_encoded
0,108.0,0,0,1,0,0,0,0,1,0,...,0.041012,0.106491,0.041012,0.041012,0.056830,0.045399,0.050498,0.045373,0.047063,0.045399
1,699.0,0,0,1,0,0,0,0,0,1,...,0.045399,0.053872,0.045399,0.044786,0.051984,0.045399,0.054907,0.039669,0.055154,0.044786
2,176.0,0,0,1,0,0,0,0,0,1,...,0.044786,0.038760,0.044786,0.044786,0.044786,0.044786,0.050498,0.065831,0.051698,0.041865
3,22.0,0,0,1,0,0,0,1,0,0,...,0.044786,0.060140,0.044786,0.044128,0.044128,0.045399,0.054907,0.054169,0.053523,0.044128
4,268.0,0,0,1,0,0,1,0,0,0,...,0.045399,0.030928,0.045399,0.045399,0.033103,0.043422,0.054907,0.052034,0.053787,0.085418

In [18]:
taobao_df.shape

(241756, 33)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X = taobao_df.drop(['clk'], axis=1)
y = taobao_df['clk']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [23]:
n_splits = 20
rf_training_score = []
rf_testing_score = []
rf_model = RandomForestClassifier(min_samples_leaf=3, max_features=2, criterion='entropy', bootstrap=True )

for i in range(0, n_splits):